{extend name="public/common"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/home/css/learn/answer.css">
{/block}

{block name="body"}
    <!--<div class="banner"><img src="/home/images/banner/1.png" alt=""></div>-->
    <div class="lists">
        <!--选择题循环-->
        {volist name="question" id="vo" key="n"}
        <div class="list" data-id="{$vo.id}">
            <div class="question">
                <span class="type"><span></span></span>
                {$vo.title}
            </div>
                {volist name="vo->Option" id="value" key="k"}
                <span class="option_ {eq name='$vo.right' value='$k' }active{/eq}">
                    <input type="radio" name="" value="{$k}">
                    <span class="option">{if condition="($k eq 1) AND ($value neq ' ')"}A{elseif condition="($k eq 2) AND ($value neq ' ')"}B{elseif condition="($k eq 3 )AND ($value neq ' ')"}C{elseif condition="($k eq 4 )AND ($value neq ' ')"/}D{/if}.</span>
                    <span class="opt">{$value|substr=###,'2'}</span>
                </span>
                {/volist}
            <div class="answer clearfix">
                <div class="fl">正确答案：<span>{$vo->Right|implode=###,"&nbsp;&nbsp;&nbsp;"}</span></div>
                <div class="sum fr"><span class="num">{$n}</span>/5</div>
            </div>
        </div>
        {/volist}
        <div class="score">
            得分情况：<span>{$score}</span>分
        </div>
    </div>
{/block}
{block name="script"}

<script>
    $(function () {
        // 标题
        $("title").text("两学一做");
        isOut();
    });
    function isOut(){
        setTimeout(function(){
            window.addEventListener("popstate", function(e) {
                window.history.go(-1);
            }, false);
        },200)
    }
</script>

{/block}