{extend name="public/common"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/home/css/learn/answer.css">
{/block}

{block name="body"}
    <!--<div class="banner"><img src="/home/images/banner/1.png" alt=""></div>-->
    <div class="lists">
        <!--选择题循环-->
        <div class="list" data-id="1">
            <div class="question">
                <span class="type"><span></span></span>
                禁止党员领导干部脱离实际，弄虚作假，损害群众利益和党群干群关系。不准（）。
            </div>
                    <span class="option_">
                        <input type="radio" name="s1" value="1">
                        <span class="option">A.</span>
                        <span class="opt">搞”形象工程“和”政绩工程“</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s1" value="2">
                        <span class="option">B.</span>
                        <span class="opt">虚报工作业绩</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s1" value="3">
                        <span class="option">C.</span>
                        <span class="opt">大办婚丧喜庆事宜</span>
                    </span>
            <div class="answer clearfix">
                <div class="fl">正确答案：<span>A</span></div>
                <div class="sum fr"><span class="num">1</span>/5</div>
            </div>
        </div>
        <!--选择题循环-->
        <div class="list" data-id="2">
            <div class="question">
                <span class="type"><span></span></span>
                禁止党员领导干部脱离实际，弄虚作假，损害群众利益和党群干群关系。不准（）。
            </div>
                    <span class="option_">
                        <input type="radio" name="s2" value="1">
                        <span class="option">A.</span>
                        <span class="opt">搞”形象工程“和”政绩工程“</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s2" value="2">
                        <span class="option">B.</span>
                        <span class="opt">虚报工作业绩</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s2" value="3">
                        <span class="option">C.</span>
                        <span class="opt">大办婚丧喜庆事宜</span>
                    </span>
            <div class="answer clearfix">
                <div class="fl">正确答案：<span>A</span></div>
                <div class="sum fr"><span class="num">2</span>/5</div>
            </div>
        </div>
        <!--选择题循环-->
        <div class="list" data-id="3">
            <div class="question">
                <span class="type"><span></span></span>
                禁止党员领导干部脱离实际，弄虚作假，损害群众利益和党群干群关系。不准（）。
            </div>
                    <span class="option_">
                        <input type="radio" name="s3" value="1">
                        <span class="option">A.</span>
                        <span class="opt">搞”形象工程“和”政绩工程“</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s3" value="2">
                        <span class="option">B.</span>
                        <span class="opt">虚报工作业绩</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s3" value="3">
                        <span class="option">C.</span>
                        <span class="opt">大办婚丧喜庆事宜</span>
                    </span>
            <div class="answer clearfix">
                <div class="fl">正确答案：<span>B</span></div>
                <div class="sum fr"><span class="num">3</span>/5</div>
            </div>
        </div>
        <!--选择题循环-->
        <div class="list" data-id="4">
            <div class="question">
                <span class="type"><span></span></span>
                禁止党员领导干部脱离实际，弄虚作假，损害群众利益和党群干群关系。不准（）。
            </div>
                    <span class="option_">
                        <input type="radio" name="s4" value="1">
                        <span class="option">A.</span>
                        <span class="opt">搞”形象工程“和”政绩工程“</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s4" value="2">
                        <span class="option">B.</span>
                        <span class="opt">虚报工作业绩</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s4" value="3">
                        <span class="option">C.</span>
                        <span class="opt">大办婚丧喜庆事宜</span>
                    </span>
            <div class="answer clearfix">
                <div class="fl">正确答案：<span>A</span></div>
                <div class="sum fr"><span class="num">4</span>/5</div>
            </div>
        </div>
        <!--选择题循环-->
        <div class="list" data-id="5">
            <div class="question">
                <span class="type"><span></span></span>
                禁止党员领导干部脱离实际，弄虚作假，损害群众利益和党群干群关系。不准（）。
            </div>
                    <span class="option_">
                        <input type="radio" name="s5" value="1">
                        <span class="option">A.</span>
                        <span class="opt">搞”形象工程“和”政绩工程“</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s5" value="2">
                        <span class="option">B.</span>
                        <span class="opt">虚报工作业绩</span>
                    </span>
                    <span class="option_">
                        <input type="radio" name="s5" value="3">
                        <span class="option">C.</span>
                        <span class="opt">大办婚丧喜庆事宜</span>
                    </span>
            <div class="answer clearfix">
                <div class="fl">正确答案：<span>D</span></div>
                <div class="sum fr"><span class="num">5</span>/5</div>
            </div>
        </div>
        <div class="score">
            得分情况：<span>4</span>分
        </div>
    </div>
{/block}
{block name="script"}

<script>
    $(function () {
        // 标题
        $("title").text("两学一做")
    })
</script>

{/block}