{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/learn/lead.css">
{/block}

{block name="body"}
    <div class="banner">
        <img src="/home/images/learn/01.png" alt="">
        <div class="person"><img src="/home/images/banner/1.png" alt=""></div>
    </div>
    <div class="info">
        <p class="name">张三 <span class="sex">男</span></p>
        <p>公安局局长</p>
    </div>
    <div class="content">简介：这里是个人的简介区域这里是个人的简介区域这里是个人的简介区域这里是个人的简介区域这里是个人的简介区域</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $("title").text("党员先锋");
    })
</script>
{/block}