{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/learn/lead.css">
{/block}

{block name="body"}
    <div class="banner">
        <img src="/home/images/learn/01.png" alt="">
        <div class="person"><img src="{$detail.front_cover|get_cover='path'}" alt=""></div>
    </div>
    <div class="info">
        <p class="name">{$detail.name}</p>
        <p>{$detail.summary}</p>
    </div>
    <div class="content">简介：{$detail.content}</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $("title").text("党员先锋");
    })
</script>
{/block}