{extend name="public/common"}

{block name="style"}
<title></title>
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/news/news.css">
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-slider-group">
			<div class="banners">
				<div class="swiper-container">
					<div class="imgs swiper-wrapper">
						<!--轮播图-->
						<div class="banner swiper-slide">
							<a href="/home/news/detail.html">
								<img src="/home/images/banner/1.png" alt="新闻图片">
								<div class="title_ limit">这是新闻标题</div>
							</a>
						</div>
						<!-- 轮播图-->
						<div class="banner swiper-slide">
							<a href="/home/news/detail.html">
								<img src="/home/images/banner/2.png" alt="新闻图片">
								<div class="title_ limit">这是新闻标题</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--新闻列表-->
			<div class="lists">
				<!-- 新闻聚焦循环体-->
				<a class="list clear" href="/home/news/detail.html">
					<div class="fl">
						<img src="/home/images/common/party.png" alt="第一聚焦">
					</div>
					<div class="fr lr">
						<div class="title limit_">新闻标题</div>
						<div class="clear">
							<span class="fl">2017-11-21</span>
							<span class="fr">详情</span>
						</div>
					</div>
				</a>
				<!-- 新闻聚焦循环体-->
				<a class="list clear" href="/home/news/detail.html">
					<div class="fl">
						<img src="/home/images/common/party.png" alt="第一聚焦">
					</div>
					<div class="fr lr">
						<div class="title limit_">新闻标题</div>
						<div class="clear">
							<span class="fl">2017-11-21</span>
							<span class="fr">详情</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
	$(function () {
		//轮播
		var mySwiper = new Swiper('.swiper-container', {
			autoplay: 3000,
			loop:true,
			autoplayDisableOnInteraction:false
		})
	});
	window.onload = function () {
		if ($(".lists .list").length < 6) {
			mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
		} else {
			mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
		}
	};
	mui.init({
		pullRefresh : {
			container: "#refreshContainer",
			up : {
				callback : loadScroll
			}
		}
	});
	function loadScroll() {
		var len = $(".lists .list").length;
		$.ajax({
			type: "post",
			url: "",
			data: {
				length: len
			},
			beforeSend: function(XMLHttpRequest){
			},
			success:function(data){
				addCourse(data);
				if(data.code == 1){
					var dataLen =data.data.length;
					if(data.data.length == 6){
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
					}else{
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
					}
				}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
				}
			}
		})
	}

	function addCourse(data) {
		var html = '';
		var lists = data.data;
		var len = lists.length;
		console.log(len);
		for(var i = 0; i< len;i++){
			var list = lists[i];
			html +=
				'<a class="list clear" href="/home/news/detail/id/'+list.id+'.html">'+
				 '<div class="fl">'+
				 '<img src="'+ list.src+'" alt="图片">'+
				 '</div>'+
				 '<div class="fr lr">'+
				 '<div class="title limit_">'+list.title+'</div>'+
				 '<div class="clear">'+
				 '<span class="fl">'+ list.time+'</span>'+
				 '<span class="fr">详情</span>'+
				 '</div>'+
				 '</div>'+
				 '</a>';
		}
		$(".lists" ).append(html);
	}
	mui("#refreshContainer").on("touchstart","a",function(){
		$(this).css("backgroundColor","rgba(0,0,0,.1)");
	}).on("touchend","a", function () {
		$(this).css("backgroundColor","#fff");
	});
	mui("#refreshContainer").on("tap","a",function(){
		var url = this.getAttribute("href");
		window.location.href = url;
	})

</script>
{/block}