body{
    position: relative;
    min-height: 100vh;
}
.banner{
    width:100vw;
    height:50vw;
}
.banner img{
    width: 100%;
}
.banner p{
    font-size: 1.61rem;
    color: #f2531f;
    text-align: center;
    margin-top: -36%;
}
.login-box{
    width:80vw;
    z-index:999;
    margin: 0 auto;
    height: 50vw;
    padding-top: 35vw;
}
/*.login-box>.form{*/
/*padding:0 8vw;*/
/*}*/
.login-box>.form input{
    border:none;
    border-bottom:1px solid #f1f1f1;
    height:8vw;
    width:61.6vw;
    outline: none;
    padding:0;
    line-height: 8vw;
    border-radius: 0;
    font-size: .4rem;
    padding-left: 5.66vw;
}
.login-box>.form input::-webkit-input-placeholder{
    color: #ccc;
    font-size: .4rem;
}
.login-box>.form input:-moz-placeholder{
    color: #ccc;
    font-size: .4rem;
}
.login-box>.form input:-ms-input-placeholder{
    color: #ccc;
    font-size: .4rem;
}
.login-box>.form>.uid>span{
    float: left;
    background:url('/home/images/verify/user.png') no-repeat;
    background-size: 3.46vw 4vw;
    position: relative;
    top: 1.5vw;
    left:10vw;
}
.login-box>.form>div>span{
    display: inline-block;
    width:7.1vw;
    height:8vw;
    margin-right: 2.85vw;
}
.btn{
    width:61.6vw;
    height:10.67vw;
    background: url("/home/images/verify/loginbtn.png") no-repeat;
    background-size: 100% 100%;
    margin:0 auto;
    text-align: center;
    line-height: 10.67vw;
    /*font-size: .53rem;*/
    color: #ffffff;

}
.login{
    display: block;
    text-align: center;
    font-size: .37rem;
    color: #ccc;
    padding-top: 4vw;
}
.login img{
    height: 3.3vw;
    margin-left: 2.66vw;
    vertical-align: middle;
    position: relative;
    top:-0.5vw;
}
footer{
    width:100%;
    height:26.5vw;
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
    max-height: 120px;
}
footer img{
    width:100%;
    height:100%;
}

.circle{
    width: 100vw;
    height: 68vw;
    position: absolute;
    top: 0;
    left: 0;
}
.circle1, .circle2, .circle3{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -12vw 0 0 -12vw;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
    background-color: #eaa59d;
    opacity: 0;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15vw 0 0 -15vw;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    text-align:center;
    line-height:70px;
    color:#EAEAEA;
    font-size: .45rem;
    font-family:'';
    opacity: 0;
}

.circle1{
    -webkit-animation:circle 3s linear infinite;
    animation:circle 3s linear infinite;
}

.circle2{
    -webkit-animation:circle 3s linear 0.8s infinite;
    animation:circle 3s linear 0.8s infinite;
}
.circle3{
    -webkit-animation:circle 3s linear 1.6s infinite;
    animation:circle 3s linear 1.6s infinite;
}
@-webkit-keyframes circle{
    from{
        opacity:.5;
        -webkit-transform:scale(0);
    }
    to{
        opacity:0;
        -webkit-transform:scale(4);
    }
}

