body{
    position: relative;
    min-height: 100vh;
}
.banner{
    width:100vw;
    height:50vw;
}
.banner img{
    width: 100%;
}
.banner p{
    font-size: 1.61rem;
    color: #f2531f;
    text-align: center;
    margin-top: -36%;
}
.login-box{
    width:80vw;
    z-index:999;
    margin: 0 auto;
    height: 50vw;
    padding-top: 35vw;
}
/*.login-box>.form{*/
/*padding:0 8vw;*/
/*}*/
.login-box>.form input{
    border:none;
    border-bottom:1px solid #f1f1f1;
    height:8vw;
    width:61.6vw;
    outline: none;
    padding:0;
    line-height: 8vw;
    border-radius: 0;
    font-size: .4rem;
    padding-left: 5.66vw;
}
.login-box>.form input::-webkit-input-placeholder{
    color: #ccc;
    font-size: .4rem;
}
.login-box>.form input:-moz-placeholder{
    color: #ccc;
    font-size: .4rem;
}
.login-box>.form input:-ms-input-placeholder{
    color: #ccc;
    font-size: .4rem;
}
.login-box>.form>.uid>span{
    float: left;
    background:url('/home/images/verify/user.png') no-repeat;
    background-size: 3.46vw 4vw;
    position: relative;
    top: 1.5vw;
    left:10vw;
}
.login-box>.form>div>span{
    display: inline-block;
    width:7.1vw;
    height:8vw;
    margin-right: 2.85vw;
}
.btn{
    width:61.6vw;
    height:10.67vw;
    background: url("/home/images/verify/loginbtn.png") no-repeat;
    background-size: 100% 100%;
    margin:0 auto;
    text-align: center;
    line-height: 10.67vw;
    font-size: .53rem;
    text-align: center;
    color: #ffffff;

}
.login{
    display: block;
    text-align: center;
    font-size: .37rem;
    color: #ccc;
    padding-top: 4vw;
}
.login img{
    height: 3.3vw;
    margin-left: 2.66vw;
    vertical-align: middle;
    position: relative;
    top:-0.5vw;
}
footer{
    width:100%;
    height:26.5vw;
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
    max-height: 120px;
}
footer img{
    width:100%;
    height:100%;
}

.cl {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 68vw;
}
.cl>div {
    position: relative;
    width: 100%;
    height: 100%;
}
.cl1 {
    width: 50vw;
    height: 50vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25vw 0 0 -25vw;
    animation: cl1 2s ease-out infinite;
}
.cl1::before {
    content: '';
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #BA55D3;
    position: absolute;
    left: 0;
    top: 0;
}
@keyframes cl1 {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: rotate(180deg);
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}
.cl2 {
    width: 36vw;
    height: 36vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -18vw 0 0 -18vw;
    animation: cl2 2s ease-out infinite;
}
.cl2::before {
    content: '';
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #d2322d;
    position: absolute;
    right: 0;
    top: 0;
}
@keyframes cl2 {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: rotate(-180deg);
    }
    100% {
        opacity: 0;
        transform: rotate(-360deg);
    }
}
.cl3 {
    width: 68vw;
    height: 68vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -34vw 0 0 -34vw;
    animation: cl3 2s ease-out infinite;
}
.cl3::before {
    content: '';
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #d43d3d;
    position: absolute;
    left: 0;
    bottom: 0;
}
@keyframes cl3 {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: rotate(-180deg);
    }
    100% {
        opacity: 0;
        transform: rotate(-360deg);
    }
}