{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/user/personal.css">
<style>
	@media (min-width: 768px) {
		.modal-dialog {
			width: auto !important;
			margin: 10px !important;
		}
	}
</style>
{/block}

{block name="body"}
<div class="main">
	<div class="lists">
		<div class="list clear tag">
			<span class="fl">党员信息</span>
		</div>
		<div class="list clear">
			<span class="fl">姓名</span>
			<span class="fr">{$detail.name}</span>
		</div>
		<div class="list clear toshow"  data-toggle="modal" data-target="#modal">
			<span class="fl">二维码</span>
			<span class="fr"><img src="/home/images/user/code.png" alt="" class="er"><i class="fa fa-angle-right"></i></span>
		</div>
		<div class="list clear">
			<span class="fl">性别</span>
			{switch name="$detail.gender"}
			{case value="0"}<span class="fr">未知</span>{/case}
			{case value="1"}<span class="fr">男</span>{/case}
			{case value="2"}<span class="fr">女</span>{/case}
			{/switch}
		</div>
		<div class="list clear">
			<span class="fl">出生日期</span>
			<span class="fr">{$detail.birthday}</span>
		</div>
		<div class="list clear">
			<span class="fl">手机号</span>
			<span class="fr">{$detail.mobile}</span>
		</div>
		<div class="list clear">
			<span class="fl">学历</span>
			<span class="fr">{$detail.education}</span>
		</div>
		<div class="list clear">
			<span class="fl">入党时间</span>
			<span class="fr">{$detail.partytime}</span>
		</div>
		<div class="list clear">
			<span class="fl">所在支部</span>
			<span class="fr">{$detail->getDepartment->name}</span>
		</div>
	</div>
	<div class="lists">
		<div class="list clear tag">
			<span class="fl">参与度</span>
		</div>
		<div class="list clear">
			<span class="fl">活动情况</span>
			<span class="fr">{$detail.org1}/{$detail.org2}</span>
		</div>
		<div class="list clear">
			<span class="fl">学习情况</span>
			<span class="fr">{$detail.learn1}/{$detail.learn2}</span>
		</div>
		<div class="list clear">
			<span class="fl">会议情况</span>
			<span class="fr">{$detail.course1}/{$detail.course2}</span>
		</div>
	<!-- 二维码 -->
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="code">
						<div id="qrcode"></div>
					</div>
					<img src="{$detail.header}" alt="个人头像" class="header">
				</div>
			</div>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script src="/home/js/jquery.qrcode.min.js"></script>
<script>
$(function(){
	//模块标题
	$('title' ).text('个人信息');
	$('.toshow' ).on('click',function(){
		$('#model').modal('show');
	});
	var code = $('.code' );
	var ww = code.width();
	var hh = code.height();
	$('#qrcode').qrcode({
		width: ww,
		height:hh,
		text: '{$detail.url}'
	});
	//隐藏手机号中间四位
	/*var tel = $('.list').eq(5).find('.fr');
	var t = tel.text().split('');
	t.splice(3,4,'****' );
	t=t.join("");
	tel.text(t);*/
})
</script>
{/block}