{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/swiper/swiper-3.3.1.min.css">
<link rel="stylesheet" href="/home/css/notice/notice.css">
{/block}

{block name="body"}
<!--banner-->
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-slider-group">
			<div class="banner swiper-container">
				<img src="/home/images/banner/3.jpg" alt="支部活动banner" class="banner-img">
			</div>
			<!--切换列表-->
			<div class="content">
				<!--三会一课：三个模块（相关通知、会议情况、党课情况）-->
				<div class="notices">
					<!--相关通知-->
					<div class="notice">
						<a href="{:Url('Course/relevantlist')}" class="tab clear">
							<span class="fl">相关通知</span>
							<span class="fr">更多</span>
						</a>
						<!-- 循环体-->
						{volist name="list.one" id="one"}
						<a href="{:Url('Course/relevant?id='.$one['id'])}" class="list">
							<div class="title limit">{$one.title}</div>
							<div class="content limit_">{$one.content}</div>
							<div class="clear time">
								{eq name="one.is_conduct" value="0"}
								<span class="f over">已结束</span>
								{else/}
								<span class="fl ing">进行中</span>
								{/eq}
								<span class="fr fa fa-angle-right"></span>
								<span class="fr">{$one.create_time|time_format="Y-m-d"}</span>
							</div>
						</a>
						{/volist}
						<!-- 循环体-->
					</div>
					<!--会议情况-->
					<div class="notice">
						<a href="{:Url('Course/meetlist')}" class="tab clear">
							<span class="fl">会议情况</span>
							<span class="fr">更多</span>
						</a>
						<!-- 循环体-->
						{volist name="list.two" id="two"}
						<a href="{:Url('Course/meet?id='.$two['id'])}" class="list clear">
							<div class="fl">
								<img src="{$two.front_cover|get_cover='path'}" alt="会议情况">
							</div>
							<div class="fr right">
								<div class="title limit_">{$two.title}</div>
								<div class="clear time">
									<span class="fl person">{$two.publisher}</span>
									<span class="fr fa fa-angle-right"></span>
									<span class="fr">{$two.create_time|time_format='Y-m-d'}</span>
								</div>
							</div>
						</a>
						{/volist}
						<!-- 循环体-->
					</div>
					<!--党课情况-->
					<div class="notice party">
						<div class="tab clear" >
							<span class="fl">党课情况</span>
						</div>
						<!-- 循环体 3条-->
						{volist name="list.three" id="three"}
						<a href="{:Url('Course/party?id='.$three['id'])}" class="list clear">
							<div class="fl">
								<img src="{$three.front_cover|get_cover='path'}" alt="党课情况">
							</div>
							<div class="fr right">
								<div class="title limit_">{$three.title}</div>
								<div class="clear time">
									<span class="fl person">{$three.publisher}</span>
									<span class="fr fa fa-angle-right"></span>
									<span class="fr">{$three.create_time|time_format='Y-m-d'}</span>
								</div>
							</div>
						</a>
						{/volist}
						<!-- 循环体 3条-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{/block}

{block name="script"}
<script src="/static/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>

	$(function () {
		$("title").text("三会一课");
	});

window.onload = function () {
	if ($(".party a").length < 3) {
		mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
	} else {
		mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
	}
};
mui.init({
	pullRefresh : {
		container: "#refreshContainer",
		up : {
			contentrefresh: '正在加载...',
			callback : loadScroll
		}
	}
});

// 加载更多
function loadScroll() {
	var len = $(".party a").length;
	$.ajax({
		type: "post",
		url: "{:Url('Course/more')}",
		data: {
			length: len,
			type:3
		},
		beforeSend: function(XMLHttpRequest){
		},
		success:function(data){
			addCourse(data);
			if(data.code == 1){
				var dataLen =data.data.length;
				if(dataLen == 8){
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
				}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
				}
			}else{
				mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
			}
		}
	})
}
function addCourse(data) {
	var html = '';
	var lists = data.data;
	var len = lists.length;
	for(var i = 0; i< len;i++){
		var list = lists[i];
		html +=
				'<a href="/home/course/party/id/'+ list.id+'.html" class="list clear">'+
				'<div class="fl">'+
				'<img src="'+list.path+'" alt="图片">'+
				'</div>'+
				'<div class="fr right">'+
				'<div class="title limit_">'+list.title+'</div>'+
				'<div class="clear time">'+
				'<span class="fl person">'+
				list.publisher+
				'</span> '+
				'<span class="fr fa fa-angle-right"></span>'+
				'<span class="fr">'+list.create_time_text+'</span>'+
				'</div>'+
				'</div>'+
				'</a>';
	}
	$(".party" ).append(html);
}
mui("#refreshContainer").on("touchstart","a",function(){
	$(this).css("backgroundColor","rgba(0,0,0,.1)");
}).on("touchend","a", function () {
	$(this).css("backgroundColor","#fff");
});

mui("#refreshContainer").on("tap","a",function(){
	var url = this.getAttribute("href");
	window.location.href = url;
});

</script>
{/block}