{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/notice/detail.css">
<link rel="stylesheet" href="/static/sweetalert/sweetalert1.css">
<script src="/static/sweetalert/sweetalert1.min.js"></script>
{/block}

{block name="body"}
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-slider-group">
			<!--新增-->
			<div class="title limit_">
				<span>标题所在</span>
			</div>
			<div class="note clear">
				<span class="fl">发布人</span>
				<span class="fr">2017-11-21</span>
			</div>
			<!--新增-->
			<div class="article">
				<div class="content">
					<div>内容区域所在地</div>
					<div class="note">
						<span class="read">10</span>
						<div class="fr isgood good notvsitor" data-type="" data-id="">1</div>
						<!--<span class="isgood good" onclick="isGood()">11</span>-->
					</div>
				</div>
			</div>
			<div class="comment">
				<div class="sum">共<span>5</span>条评论</div>
				<div class="lists">
					<!-- 评论循环体-->
					<div class="list clear">
						<div class="fl">
							<img src="/home/images/common/party.png" alt="用户" class="user">
						</div>
						<div class="fl mid">
							<div class="name limit">评论人姓名</div>
							<div class="content" >评论的内容</div>
							<div class="time">2017-11-21</div>
						</div>
						<!--<div class="fr isgood good_" onclick="isGood()">2</div>-->
						<div class="fr isgood good notvsitor" data-type="0" data-id="">1</div>
					</div>
					<!-- 评论循环体-->
					<div class="list clear">
						<div class="fl">
							<img src="/home/images/common/party.png" alt="用户" class="user">
						</div>
						<div class="fl mid">
							<div class="name limit">评论人姓名</div>
							<div class="content" >评论的内容</div>
							<div class="time">2017-11-21</div>
						</div>
						<!--<div class="fr isgood good_" onclick="isGood()">2</div>-->
						<div class="fr isgood good notvsitor" data-type="0" data-id="">1</div>
					</div>
					<!-- 评论循环体-->
					<div class="list clear">
						<div class="fl">
							<img src="/home/images/common/party.png" alt="用户" class="user">
						</div>
						<div class="fl mid">
							<div class="name limit">评论人姓名</div>
							<div class="content" >评论的内容</div>
							<div class="time">2017-11-21</div>
						</div>
						<!--<div class="fr isgood good_" onclick="isGood()">2</div>-->
						<div class="fr isgood good notvsitor" data-type="0" data-id="">1</div>
					</div>
					<!-- 评论循环体-->
					<div class="list clear">
						<div class="fl">
							<img src="/home/images/common/party.png" alt="用户" class="user">
						</div>
						<div class="fl mid">
							<div class="name limit">评论人姓名</div>
							<div class="content" >评论的内容</div>
							<div class="time">2017-11-21</div>
						</div>
						<!--<div class="fr isgood good_" onclick="isGood()">2</div>-->
						<div class="fr isgood good notvsitor" data-type="0" data-id="">1</div>
					</div>
					<!-- 评论循环体-->
					<div class="list clear">
						<div class="fl">
							<img src="/home/images/common/party.png" alt="用户" class="user">
						</div>
						<div class="fl mid">
							<div class="name limit">评论人姓名</div>
							<div class="content" >评论的内容</div>
							<div class="time">2017-11-21</div>
						</div>
						<!--<div class="fr isgood good_" onclick="isGood()">2</div>-->
						<div class="fr isgood good notvsitor" data-type="0" data-id="">1</div>
					</div>
					<!-- 评论循环体-->
					<div class="list clear">
						<div class="fl">
							<img src="/home/images/common/party.png" alt="用户" class="user">
						</div>
						<div class="fl mid">
							<div class="name limit">评论人姓名</div>
							<div class="content" >评论的内容</div>
							<div class="time">2017-11-21</div>
						</div>
						<!--<div class="fr isgood good_" onclick="isGood()">2</div>-->
						<div class="fr isgood good notvsitor" data-type="0" data-id="">1</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bottom clear" onclick="send()">
	<div class="myword fl">
		<input type="text" placeholder="说说你的感想！" disabled>
	</div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

	$(function () {
		$("title").text("会议情况详情");
	});


	mui("#refreshContainer").on("tap",".notvsitor", function (e) {
		var type = this.getAttribute("data-type");
		var id = this.getAttribute("data-id");
		isGood(this,type,id);
	});
	/**
	 * 点赞
	 * @param e
	 */
	var isGood = function(e,type,id){
		//样式变化，移到suc
		var n = $(e ).text();
		$(e).toggleClass('good' ).toggleClass('good_');
		$(e ).hasClass('good')?n--:n++;
		$(e ).text(n);
		//type：1文章，2评论
//		var type = $(e ).hasClass('fr')?2:1;
		$.ajax({
			type:"post",
			url:"{:Url('Base/like')}",
			data:{
				type:type,
				aid:id,
			},
			success:function(data){

			}
		})
	};
	/**
	 * 发送评论
	 * @param e
	 */
	var send = function(e,type,id){
		swal({
			title: '',
			text: '请输入您的评论！',
			type: 'input',
			showCancelButton: true,
			closeOnConfirm: false,
			cancelButtonText: "取消",
			confirmButtonText: "确定",
			animation: "slider-form-top"

		}, function(inputValue) {
			if (inputValue === false) return false;

			if (inputValue.length < 1) {
				swal.showInputError("评论字数不能少于1个字！");
				return false
			}

			if (inputValue.length > 300) {
				swal.showInputError("您输入的字超过了300！");
				return false
			}
			$.ajax({
				type: "post",
				url: "{:Url('Base/comment')}",
				data: {
					type: type,
					aid: id,
					content: inputValue
				},
				beforeSend: function () {
					swal({
						title: ' ',
						text: '评论提交中...',
						showConfirmButton: false
					});
				},
				success: function (data) {
					var data = data.data;
					var userid = "'" + data.create_user + "'";
					var html = '';
					html += '<div class="list clear">' +
							'<div class="fl">' +
							'<img src="' + data.header + '" alt="用户头像" class="user">' +
							'</div>' +
							'<div class="fl mid">' +
							'<div class="name limit">' + data.nickname + '</div>' +
							'<div class="content" >' + inputValue + '</div>' +
							'<div class="time">' + data.time + '</div>' +
							'</div>' +
							'<div class="fr isgood good notvsitor" data-type="0" data-id='+ data.id +'>' + data.likes + '</div>' +
							'</div>';
					$('.lists').prepend(html);
					inputValue = "";
					var sum = $('.sum span');
					sum.text(parseInt(sum.text()) + 1);
					swal({
						title: ' ',
						text: '评论成功',
						type: 'success',
						confirmButtonText: '确定',
						timer: 3000
					});
				}
			});
		})
	};

	window.onload = function () {
		if ($(".lists .list").length < 6) {
			mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
		} else {
			mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
		}
	};
	mui.init({
		pullRefresh : {
			container: "#refreshContainer",
			up : {
				callback : loadScroll
			}
		}
	});
	function loadScroll() {
		var len = $(".lists .list").length;
		var aid = {$detail.id}
		$.ajax({
			type: "post",
			url: "{:Url('Base/morecomment')}",
			data: {
				length: len,
				type: 5,
				aid: aid
			},
			beforeSend: function(XMLHttpRequest){
			},
			success:function(data){
				addCourse(data);
				if(data.code == 1){
					var dataLen =data.data.length;
					if(data.data.length == 6){
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
					}else{
						mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
					}
				}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
				}
			}
		})
	}

	function addCourse(data) {
		var html = '';
		var lists = data.data;
		var len = lists.length;
		console.log(len);
		for(var i = 0; i< len;i++){
			var list = lists[i];
			html += '<div class="list clear">'+
					'<div class="fl">'+
					'<img src="'+list.header+'" alt="用户" class="user">'+
					'</div>'+
					'<div class="fl mid">'+
					'<div class="name limit">'+ list.nickname+'</div>'+
					'<div class="content" >'+ list.content+'</div>'+
					'<div class="time">'+ list.time+'</div>'+
					'</div>';
			if ("{$visit}" == 0) {
				if(list.is_like == 0){
					html+='<div class="fr isgood good notvsitor" data-type="0" data-id='+ list.id +'>'+list.likes+'</div>'
				}else{
					html+='<div class="fr isgood good_ notvsitor" data-type="0" data-id='+ list.id +'>'+list.likes+'</div>'
				}
			}else {
				html +=
						'<div class="fr isgood good>"' +
						list.likes +
						'</div>'
			}
			html+=
					'</div>';
		}
		$(".lists" ).append(html);
	}
	mui("#refreshContainer").on("touchstart","a",function(){
		$(this).css("backgroundColor","rgba(0,0,0,.1)");
	}).on("touchend","a", function () {
		$(this).css("backgroundColor","#fff");
	});
	mui("#refreshContainer").on("tap","a",function(){
		var url = this.getAttribute("href");
		window.location.href = url;
	})
</script>
{/block}