{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/notice/relevantlist.css">
{/block}

{block name="body"}
<!--<div class="default">
	<img src="/home/images/notice/nomessage.png" alt="暂无消息">
</div>-->
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-slider-group">
			<div class="lists">
				<!--两种状态：ing进行中，over已结束-->
				<!-- 循环体-->
				{volist name="list" id="vo"}
				<a href="{:Url('Course/relevant?id='.$vo['id'])}" class="list">
					<div class="title limit">{$vo.title}</div>
					<div class="content limit_">{$vo.content}</div>
					<div class="note clearfix">
						{eq name="$vo.is_conduct" value="0"}
						<span class="fl over">已结束</span>
						{else/}
						<span class="fl ing">进行中</span>
						{/eq}
						<span class="time fr">{$vo.create_time|time_format="Y-m-d"}</span>
					</div>
				</a>
				{/volist}
				<!-- 循环体-->
			</div>
		</div>
	</div>
</div>
{/block}

{block name="script"}
<script>

	$(function () {
		$("title").text("相关通知");
	});

window.onload = function () {
	if ($(".lists .list").length < 6) {
		mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
	} else {
		mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
	}
};
mui.init({
	pullRefresh : {
		container: "#refreshContainer",
		up : {
			callback : loadScroll
		}
	}
});
function loadScroll() {
	var len = $(".lists .list").length;
	$.ajax({
		type: "post",
		url: "{:Url('Course/more')}",
		data: {
			length: len,
			type:1
		},
		beforeSend: function(XMLHttpRequest){
		},
		success:function(data){
			addCourse(data);
			if(data.code == 1){
				var dataLen =data.data.length;
				if(data.data.length == 6){
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
				}else{
					mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
				}
			}else{
				mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
			}
		}
	})
}

function addCourse(data) {
	var html = '';
	var lists = data.data;
	var len = lists.length;
	console.log(len);
	for(var i = 0; i< len;i++){
		var list = lists[i];
		html +=
				'<a href="/home/course/relevant/id/'+ list.id+'.html" class="list">'+
				'<div class="title limit">'+list.title+'</div>'+
				'<div class="content limit_">'+list.content+'</div>'+
				'<div class="note clearfix">';
		if(list.state == 0){
			html +=	'<span class="fl ing">进行中</span>'
		}else{
			html +=	'<span class="fl over">已结束</span>'
		}
		html +=
				'<span class="time fr">'+list.create_time_text+'</span>'+
				'</div>'+
				'</a>'
	}
	$(".lists" ).append(html);
}
mui("#refreshContainer").on("touchstart","a",function(){
	$(this).css("backgroundColor","rgba(0,0,0,.1)");
}).on("touchend","a", function () {
	$(this).css("backgroundColor","#fff");
});
mui("#refreshContainer").on("tap","a",function(){
	var url = this.getAttribute("href");
	window.location.href = url;
})

</script>
{/block}