{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/rank/index.css">
{/block}

{block name="body"}
<div>
    <div class="top">
        <div class="top_top">
            {eq name="visit" value="1"}
            <img src="/home/images/common/vistor.jpg">
            <p>游客</p>
            {else/}
            <img id="pic" src="{$personal.header}">
            <div id="score">
                <img src="/home/images/common/score.png" alt="规则" data-toggle="modal" data-target="#myModal">
                <span data-toggle="modal" data-target="#myModal">积分规则</span>
            </div>
            <p>{$personal.name}</p>
            {/eq}
        </div>
        <div class="top_body">
            <ul>
                <li>
                    <p>个人所有积分</p>
                    {eq name="visit" value="1"}
                    <p>无</p>
                    {else/}
                    <p>{$personal.score}</p>
                    {/eq}
                </li>
                <span></span>
                <li>
                    <p>个人积分排名</p>
                    {eq name="visit" value="1"}
                    <p>无</p>
                    {else/}
                    <p>{$personal.rank}</p>
                    {/eq}
                </li>
            </ul>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <img id="close" src="/home/images/common/close.png" alt="规则" data-dismiss="modal" aria-hidden="true" style="width:12vw;height:12vw">
            <div class="modal-content" style="margin:6vw auto">
                <div style="width: 0;height: 6.4vw;border-right: 2px solid rgba(237, 218, 145, 0.63);margin: -6.4vw auto 0;"></div>
                <div class="modal-header" style="padding: 2.7vw">
                    <h4 class="modal-title" id="myModalLabel">
                       <b>积分规则</b>
                    </h4>
                </div>
                <div class="modal-body">
                    您可以通过浏览文章，点赞，评论等互动行为获取积分。具体如下：
                    <h5>浏览文章：<b>1分</b></h5>
                    <h5>点赞他人评论：<b>1分</b></h5>
                    <h5>评论文章：<b>1分</b></h5>
                    <h5>每日一课答题正确：<b>1分</b></h5>
                    备注:<br/> &emsp;&emsp; 同一篇文章重复浏览、点赞不累积得分。
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <div class="body">
        <div class="body_top">
            <img src="/home/images/common/int.jpg">
            <span>系统积分排行榜</span>
        </div>
        <div class="body_body" id="title">
            <ul>
                <li class="active" name="1">
                    <p>周榜</p>
                </li>
                <li name="2">
                    <p>季榜</p>
                </li>
                <li name="3">
                    <p>总榜</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot" id="body">
        <div class="rank" age="1">
            <ul>
                <!-- 循环体-->
                {volist name="week" id="fi" key="k"}
                <li class="clear">
                    <span class="ranking">{$k}</span>
                    <img src="{$fi.userid|get_header}">
                    <span class="department">{$fi.name}</span>
                    <span class="int">积分{$fi.score}分</span>
                </li>
                {/volist}
                <!-- 循环体-->
            </ul>
        </div>
        <div class="rank" age="2" style="display: none;">
            <ul>
                <!-- 循环体-->
                {volist name="month" id="mo" key="k"}
                <li class="clear">
                    <span class="ranking">{$k}</span>
                    <img src="{$mo.userid|get_header}">
                    <span class="department">{$mo.name}</span>
                    <span class="int">积分{$mo.score}分</span>
                </li>
                {/volist}
                <!-- 循环体-->
            </ul>
        </div>
        <div class="rank" age="3" style="display: none;">
            <ul>
                <!-- 循环体-->
                {volist name="all" id="vo" key="k"}
                <li class="clear">
                    <span class="ranking">{$k}</span>
                    <img src="{$vo.userid|get_header}">
                    <span class="department">{$vo.name}</span>
                    <span class="int">积分{$vo.score}分</span>
                </li>
                {/volist}
            </ul>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    //切换
    $(function(){
        //模块标题
        $('title' ).text('个人排行榜');
        $("#title").find("li").each(function(){
            $(this).on('click',function(){
                $(this).addClass("active").siblings().removeClass();
                var name = $(this).attr("name");
                $("body").find(".rank").each(function(){
                    var age = $(this).attr("age");
                    if(name == age) {
                        $(this).show().siblings().hide();
                    }
                });
            });
        });
        $('#score span,#score img').click(function () {
            $('#myModal').show();
        });

    });
</script>
{/block}