{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
{/block}

{block name="body"}
<ul class="d_lists">

</ul>
<div class="default"><img src='/home/images/common/nomessage.png' alt=''></div>
{/block}

{block name="script"}
<script>
$('title' ).text('组织架构');
var party3 = '{$party}';
console.log(party3);
	var data2 =[
	{
		"party3":"水务部",
		"detail3":[
			{
				"detail4":[
					{
						"position":"&nbsp;",
						"name":"仇承志",
						"phone":"13968123569"
					},
					{
						"position":"&nbsp;",
						"name":"储仁顺",
						"phone":"13805703284"
					},
					{
						"position":"&nbsp;",
						"name":"吴爱凤",
						"phone":"13738158655"
					},
					{
						"position":"&nbsp;",
						"name":"姚余良",
						"phone":"13805701316"
					},
					{
						"position":"&nbsp;",
						"name":"王雪春",
						"phone":"13777360638"
					},
					{
						"position":"&nbsp;",
						"name":"吴峰",
						"phone":"13989870100"
					},
					{
						"position":"&nbsp;",
						"name":"王红仙",
						"phone":"18258805753"
					},
					{
						"position":"&nbsp;",
						"name":"钱祖昌",
						"phone":"13758262116"
					},
					{
						"position":"&nbsp;",
						"name":"朱昱靓",
						"phone":"13868187235"
					},
					{
						"position":"&nbsp;",
						"name":"许韩兵",
						"phone":"18057159696"
					},
					{
						"position":"&nbsp;",
						"name":"叶建祥",
						"phone":"13868120876"
					},
					{
						"position":"&nbsp;",
						"name":"邹永贞",
						"phone":"18058438839"
					},
					{
						"position":"&nbsp;",
						"name":"黄国军",
						"phone":"15988865225"
					}
				]
			}]
	},
		{
			"party3":"城兴城防联合",
			"detail3":[
				{
					"detail4":[
						{
							"position":"&nbsp;",
							"name":"惠志元",
							"phone":"13868102528"
						},
						{
							"position":"&nbsp;",
							"name":"宁伟红",
							"phone":"13777892259"
						},
						{
							"position":"&nbsp;",
							"name":"罗鸣",
							"phone":"15058150162"
						},
						{
							"position":"&nbsp;",
							"name":"胡林娟",
							"phone":"15088622538"
						},
						{
							"position":"&nbsp;",
							"name":"张旭山",
							"phone":"15858177117"
						},
						{
							"position":"&nbsp;",
							"name":"阳珍平",
							"phone":"13306512039"
						},
						{
							"position":"&nbsp;",
							"name":"徐学斌",
							"phone":"13868102158"
						}
					]
				}]
		},
		{
			"party3":"综合管理支部",
			"detail3":[
				{
					"detail4":[
						{
							"position":"&nbsp;",
							"name":"洪婷",
							"phone":"18072762799"
						},
						{
							"position":"&nbsp;",
							"name":"吴玉柱",
							"phone":"15990110666"
						},
						{
							"position":"&nbsp;",
							"name":"徐旭飞",
							"phone":"13506813026"
						},
						{
							"position":"&nbsp;",
							"name":"孙立红",
							"phone":"13675892743"
						},
						{
							"position":"&nbsp;",
							"name":"徐京山",
							"phone":"13968124111"
						},
						{
							"position":"&nbsp;",
							"name":"吴小龙",
							"phone":"13906818639"
						},
						{
							"position":"&nbsp;",
							"name":"蒋素萍",
							"phone":"13777445818"
						},
						{
							"position":"&nbsp;",
							"name":"邵建忠",
							"phone":"13868121982"
						},
						{
							"position":"&nbsp;",
							"name":"陈庆军",
							"phone":"13456791788"
						}
					]
				}]
		},
		{
			"party3":"建德供给排水",
			"detail3":[
				{
					"detail4":[
						{
							"position":"&nbsp;",
							"name":"陈冬梅",
							"phone":"13819161227"
						},
						{
							"position":"&nbsp;",
							"name":"邵丽琴",
							"phone":"13968139289"
						},
						{
							"position":"&nbsp;",
							"name":"杨水琴",
							"phone":"13758269608"
						},
						{
							"position":"&nbsp;",
							"name":"唐向东",
							"phone":"13506814611"
						},
						{
							"position":"&nbsp;",
							"name":"饶明昕",
							"phone":"15067191586"
						},
						{
							"position":"&nbsp;",
							"name":"施建红",
							"phone":"15988800027"
						},
						{
							"position":"&nbsp;",
							"name":"方丽红",
							"phone":"13685771021"
						},
						{
							"position":"&nbsp;",
							"name":"王裕祥",
							"phone":"13777598998"
						},
						{
							"position":"&nbsp;",
							"name":"韩腊梅",
							"phone":"13868118260"
						},
						{
							"position":"&nbsp;",
							"name":"王洪军",
							"phone":"13777875566"
						},
						{
							"position":"&nbsp;",
							"name":"汪传东",
							"phone":"13968133165"
						},
						{
							"position":"&nbsp;",
							"name":"余小明",
							"phone":"18058112201"
						},
						{
							"position":"&nbsp;",
							"name":"赵婷婷",
							"phone":"13163221715"
						},
						{
							"position":"&nbsp;",
							"name":"应圣谊",
							"phone":"15857149303"
						},
						{
							"position":"&nbsp;",
							"name":"邵有龙",
							"phone":"13575765245"
						},
						{
							"position":"&nbsp;",
							"name":"蒋磊",
							"phone":"18868741112"
						},
						{
							"position":"&nbsp;",
							"name":"吴旭升",
							"phone":"13967125307"
						},
						{
							"position":"&nbsp;",
							"name":"王炎荣",
							"phone":"13805702373"
						},
						{
							"position":"&nbsp;",
							"name":"宋良军",
							"phone":"13003640000"
						},
						{
							"position":"&nbsp;",
							"name":"邓建平",
							"phone":"13506813041"
						},
						{
							"position":"&nbsp;",
							"name":"杨建仁",
							"phone":"13567150005"
						},
						{
							"position":"&nbsp;",
							"name":"童玲",
							"phone":"13616533157"
						},
						{
							"position":"&nbsp;",
							"name":"柴吾林",
							"phone":"13805702011"
						},
						{
							"position":"&nbsp;",
							"name":"金杰",
							"phone":"13867457261"
						},
						{
							"position":"&nbsp;",
							"name":"徐春",
							"phone":"13868102303"
						},
						{
							"position":"&nbsp;",
							"name":"邵国新",
							"phone":"18868845510"
						},
						{
							"position":"&nbsp;",
							"name":"王国强",
							"phone":"13758262226"
						},
						{
							"position":"&nbsp;",
							"name":"张震",
							"phone":"18906517426"
						},
						{
							"position":"&nbsp;",
							"name":"唐美风",
							"phone":"13454183108"
						},
						{
							"position":"&nbsp;",
							"name":"夏渭林",
							"phone":"13968126608"
						},
						{
							"position":"&nbsp;",
							"name":"曹晓勇",
							"phone":"13958132770"
						},
						{
							"position":"&nbsp;",
							"name":"钱晓琼",
							"phone":"13567150700"
						},
						{
							"position":"&nbsp;",
							"name":"马兴亚",
							"phone":"13968139458"
						},
						{
							"position":"&nbsp;",
							"name":"徐书平",
							"phone":"13606525590"
						}
					]
				}]
		}
];
var bg_color=["#b1e3fc", "#aeefef", "#ffa351", "#9393f5", "#cf88f7", "#65abfa", "#ebcffb", "#76f4f0", "#ffcf6e", "#ff8ff4"];
var len = data2.length;
for(var i = 0 ; i < len ;i++){
	var party = data2[i];
	if( party.party3 == party3){
		var detail3 = party.detail3;
		var len3 = detail3.length;
		var html = '';
		for(var j = 0; j < len3 ; j++){
			var party4 = detail3[j];
			var detail4 = party4.detail4;
			var len4 = detail4.length;
			for(var m = 0 ;m < len4 ;m++){
				html+='<li class="d_list">'+
						'<div class="d_img_box">'+
						'<div class="d_img" style="background-color:'+bg_color[Math.floor(Math.random()*10)]+'">'+
						detail4[m].name[0]+'</div>'+
						'</div>'+
						'<div class="d_name">'+detail4[m].name +' '+detail4[m].position+'</div>'+
						'<a class="d_tel" href="tel:'+detail4[m].phone+'" >'+
							'<span class="d_tel_icon"></span>'+
								detail4[m].phone+
						'</a>'+
						'</li>';
			}
		}
		$('.d_lists' ).append(html);
		break;
	}else{

	}
}
</script>
{/block}