{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">

{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/banner/2.png" alt="组织架构banner" class="banner-img">
</div>
<div class="tabs">
	<span class="tab active"><span>组织介绍</span></span>
	<span class="tab"><span>组织架构</span></span>
</div>
<div class="listbox">
	<div class="box summary active">
		<div class="box_ ">
			<p>建德市城市建设发展投资有限公司前身为建德市东区城市建设开发公司，始建于1999年，隶属于建德市住建局，为国有全资企业。后根据建德市委、市政府关于国有公司整合优化实施意见，2007年10月，合并通平城市建设公司、通达城市基础设施公司，更名为建德市城市建设开发有限公司，隶属于建德市国有资产经营有限公司。2014年9月，整合成立建德市城市建设发展投资有限公司（简称建德市城投公司）。目前，下辖9家全资子公：建德市城兴城防工程建设有限公司、建德市水务有限公司、建德市万居经济适用房开发有限公司和杭州杭新固体废物处理有限公司、建德市客运中心有限公司、建德市新安城市照明管理有限公司、建德市城建勘察测绘有限公司、建德市新园园林绿化工程有限公司、建德市梅城垃圾填埋场。</p>
			<p>公司注册资本2亿元，总资产91.03亿元，所属企业涉及房地产开发经营、新农村建设、城市建设综合开发业务、城市基础设施建设、保障性住房、供排水及部分危险废物处置等，是我市主要基础设施和民生项目的建设主体之一，是新型产业的引导培育平台。</p>
			<p>公司内设综合管理部、计划财务部、投资发展部、工程管理部、资产管理部和运行监察室。</p>
			<p>组建至今，公司紧紧围绕建德市委、市政府关于建设美丽和谐新建德的目标，坚持以人为本、科学发展、改革创新、和谐创业，全力推进城市基础设施建设、落实民生保障、促进招商引资，为促进建德的城市产业转型提升，打造山水宜居城市，提高全市人民生活水平和生态质量起到了重要作用。</p>
			<p>城投公司党委成立于2016年9月4日，现设书记１名，党委委员２名。党委下辖4个正式支部，1个临时支部。其中公司本级（含杭州杭新固体废物处理有限公司）成立综合管理支部，建德市城兴城防工程建设有限公司和建德市万居经济适用房开发有限公司成立城兴城防和万居联合支部，建德市水务有限公司成立水务支部，杭州建德自来水有限公司和杭州建德污水处理有限公司成立杭州建德供排水联合支部，同时在浙西国际心脏中心PPP项目成立了临时支部。</p>
		</div>
	</div>
	<div class="town box hidden">
		<!--小镇党委-->
		{eq name="visit" value="1"}
		<div class="default">
			<img src="/home/images/common/404.png" alt="" style="width: 50vw;margin-top: 20vw">
		</div>
		{else/}
		<div class="box_ or">
			<div class="lists">
				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<div class="tri-left structure2"></div>
						<a href="javascript:;"><div class="name1"> 建德城投智慧党建</div></a>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">综合管理支部<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">城兴城防和万居联合支部<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">水务支部<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">杭州建德供排水联合支部<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">临时支部<span class="rt sj"></span></a>
					</div>
				</div>
				<!--/第一层-->
			</div>
		</div>
		{/eq}
		<!--/小镇党委-->
	</div>


</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script src="/home/js/jquery.lazyload.min.js"></script>
<script>


$(function(){
	$("title").text("组织架构");
	$('.name2' ).each(function(){
		var t = $(this ).text();
//		var href = '/home/structure/detail?party='+t+'';
		var href = '/home/structure/intro';
		$(this ).attr('href', href);
	});
	$(function(){
//		//tab值记录
		tabRecord('.tab' ,'.box');
//		//tab切换
		tabSwitch('.tab' ,'.box');
		//上拉加载
	});
	$(function() {
		$("img.lazy").lazyload({effect: "fadeIn"});
	});
});


</script>
{/block}