{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/structure/intro.css">
{/block}
{block name="body"}
<div class="intro">
    <div class="title">支部介绍</div>
    <div class="content">
        这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域这里是支部介绍的内容区域
    </div>
</div>
<div class="lead">
    <div class="title">支部领导</div>
    <div class="lists">
        <div class="list clearfix">
            <div class="fl rank"><span>领导级别：</span></div>
            <div class="fl list_">
                <ul>
                    <li class="fl">
                        <div class="img"><img src="/home/images/common/party.png" alt=""></div>
                        <div class="name">郑竹兵</div>
                    </li>
                    <li class="fl">
                        <div class="img"><img src="/home/images/common/party.png" alt=""></div>
                        <div class="name">郑竹兵</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list clearfix">
            <div class="fl rank"><span>领导级别：</span></div>
            <div class="fl list_">
                <ul>
                    <li class="fl">
                        <div class="img"><img src="/home/images/common/party.png" alt=""></div>
                        <div class="name">郑竹兵</div>
                    </li>
                    <li class="fl">
                        <div class="img"><img src="/home/images/common/party.png" alt=""></div>
                        <div class="name">郑竹兵</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="list clearfix">
            <div class="fl rank"><span>领导级别：</span></div>
            <div class="fl list_">
                <ul>
                    <li class="fl">
                        <div class="img"><img src="/home/images/common/party.png" alt=""></div>
                        <div class="name">郑竹兵</div>
                    </li>
                    <li class="fl">
                        <div class="img"><img src="/home/images/common/party.png" alt=""></div>
                        <div class="name">郑竹兵</div>
                    </li>
                    <li class="fl">
                        <div class="img"><img src="/home/images/common/party.png" alt=""></div>
                        <div class="name">郑竹兵</div>
                    </li>
                    <li class="fl">
                        <div class="img"><img src="/home/images/common/party.png" alt=""></div>
                        <div class="name">郑竹兵</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $("title").text("组织架构");
        $(".rank").height($(".list_ li").height());
    })
</script>
{/block}
