{extend name="public/common"}

{block name="style"}
<title>组织架构</title>
<link rel="stylesheet" href="/home/css/structure/intro.css">
{/block}
{block name="body"}
<div class="intro">
    <div class="title">支部介绍</div>
    <div class="content">
        {$detail.content}
    </div>
</div>
<div class="lead">
    <div class="title">支部领导</div>
    <div class="lists">
        {notempty name="$detail.one"}
        <div class="list clearfix">
            <div class="fl rank"><span>书记：</span></div>
            <div class="fl list_">
                <ul>
                    {volist name="detail.one" id="one"}
                    <li class="fl">
                        <div class="img"><img src="{$one.header}" alt=""></div>
                        <div class="name">{$one.name}</div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        {/notempty}
        {notempty name="$detail.two"}
        <div class="list clearfix">
            <div class="fl rank"><span>副书记：</span></div>
            <div class="fl list_">
                <ul>
                    {volist name="detail.two" id="two"}
                    <li class="fl">
                        <div class="img"><img src="{$two.header}" alt=""></div>
                        <div class="name">{$two.name}</div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        {/notempty}
        {notempty name="$detail.three"}
        <div class="list clearfix">
            <div class="fl rank"><span>支委：</span></div>
            <div class="fl list_">
                <ul>
                    {volist name="detail.three" id="three"}
                    <li class="fl">
                        <div class="img"><img src="{$three.header}" alt=""></div>
                        <div class="name">{$three.name}</div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        {/notempty}
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $("title").text("{$detail.name}");
        $(".rank").height($(".list_ li").height());
    })
</script>
{/block}
