{extend name="public/common"}

{block name="style"}
<title>招商信息</title>
<link rel="stylesheet" href="/home/css/organization/investment.css">
{/block}

{block name="body"}
    <div class="banner">
        <img src="{$detail.front_cover|get_cover='path'}" alt="">
        <div class="notes">
            <span>{$detail.address}</span>
        </div>
    </div>
    <div class="title"><span>企业信息</span></div>
    <div class="lists">
        <div class="list clearfix">
            <span class="name fl">企业名称：</span>
            <span class="content fl">{$detail.name}</span>
        </div>
        <div class="list clearfix">
            <span class="name fl">企业类别：</span>
            <span class="content fl">{$detail.type}</span>
        </div>
        <div class="list clearfix">
            <span class="name fl">主营业务：</span>
            <span class="content fl">{$detail.content}</span>
        </div>
        <div class="list clearfix">
            <span class="name fl">联系人：</span>
            <span class="content fl">{$detail.contacts}</span>
        </div>
        <div class="list clearfix">
            <span class="name fl">联系方式：</span>
            <span class="content fl">{$detail.telephone}</span>
        </div>
        <div class="list clearfix">
            <span class="name fl">意向房源：</span>
            <span class="content fl">{$detail.intentional}</span>
        </div>
        <div class="list clearfix">
            <span class="name fl">登记时间：</span>
            <span class="content fl">{$detail.boarding_time|time_format="Y-m-d H:i"}</span>
        </div>
    </div>
{/block}
{block name="script"}

<script>
    $(function () {
        $("title").text("招商信息");
    });
</script>

{/block}